includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 1

    paths:
        - Annotation
        - Mixpanel
        - DependencyInjection

    inferPrivatePropertyTypeFromConstructor: true
