parameters:
	ignoreErrors:
		-
			message: "#^Variable property access on Gordalina\\\\MixpanelBundle\\\\Annotation\\\\Annotation\\.$#"
			count: 2
			path: Mixpanel/EventListener/ControllerListener.php

		-
			message: "#^Casting to bool something that's already bool\\.$#"
			count: 8
			path: Mixpanel/EventListener/MixpanelListener.php
